/*Hem (Grid) */

#gridParentHome {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; /* Changed to auto to fit content */
    column-gap: 0.5rem;
    row-gap: 0px;
}

#gridParentHome p {
    text-align: center;
    margin-bottom: 2rem;
}

#gridItemHome1,
#gridItemHome2,
#gridItemHome3,
#gridItemHome4,
#gridItemHome5,
#gridItemHome6,
#gridItemHome7,
#gridItemHome8 {
    width: 100%;
}

#gridParentHome img {
    width: 100%;
}

#gridItemHome1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#gridItemHome2 {
    grid-row: 2 / 3;
    grid-column: 3 / 4; /* Moved to the right */
}

#gridItemHome3 {
    grid-row: 3 / 4;
    grid-column: 1 / 2; /* Moved to the left */
}

#gridItemHome4 {
    grid-row: 4 / 5;
    grid-column: 3 / 4; /* Moved to the right */
}

#gridItemHome5 {
    grid-row: 5 / 6;
    grid-column: 1 / 2; /* Moved to the left */
}

#gridItemHome6 {
    grid-row: 6 / 7;
    grid-column: 3 / 4; /* Moved to the right */
}

#gridItemHome7 {
    grid-row: 7 / 8;
    grid-column: 1 / 2; /* Moved to the left */
}

#gridItemHome8 {
    grid-row: 8 / 9;
    grid-column: 3 / 4; /* Moved to the right */
}