body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}



nav {
  justify-content: center;
  background-color: #f8f8f8;
  /* color: #7F669D; */
  padding: 10px 0;
  position: fixed;
  width: auto;
  top: 0;
}
nav ul {
  display: flex;
  gap: 5rem;
  list-style: none;
  margin: 0.5rem 0 0 0;
  padding: 0;
}

nav a {
  color: 7F669D;
  text-decoration: none;
}

#food-widget {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-top: 50px; /* To prevent the navbar from covering the widget */
}

#food-widget h2 {
  text-align: center;
  color: #7f669d;
}

#food-widget ul {
  list-style: none;
  padding: 0;
}

#food-widget ul li {
  color: #7f669d;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#food-widget ul li:last-child {
  border-bottom: none;
}
